@font-face {
    font-family: 'zeniq';
    src: url('/assets/fonts/Zeniq.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #222831;
}

#nav_bar {
    position: fixed;
    padding: 1%;
    width: 98%;
    background-color: #00ADB5;
    box-shadow: 2px 3px rgba(255, 255, 255, 0.7);
}

nav a {
    font-family: 'zeniq';
    border-radius: 12px;
    padding: 0.5%;
    background-color: #393E46;
    margin-bottom: 5%;
    margin-right: 1%;
    text-decoration: none;
    color: #EEEEEE;
}

nav a i {
    color: #EEEEEE;
}

.second_nav {
    padding-top: 1%;
    margin: 0;
    text-align: center;
}

.second_nav a {
    margin-left: 2%;
    padding: 2%;
}

.third_nav {
    padding-top: 1%;
    margin: 0;
    text-align: right;
}

.third_nav a {
    margin-left: 2%;
    border-radius: 100px;
    padding: 2%;
}

#logo_nav {
    background-color: transparent;
}

#logo_nav img {

    width: 9%;
    height: auto;
    border-radius: 12px;
}


header {
    padding-top: 5%;
}

#game {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0%;
    padding: 0%;
    font-size: 15rem;
    text-align: center;
    color: #00ADB5;
    font-family: 'zeniq';

}


#on {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -2%;
    padding: 0;
    font-size: 25rem;
    text-align: center;
    color: #393E46;
    font-family: 'zeniq';
}

.CTA {
    padding: 5% 0 5% 0;
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: var(--cinzaclaro);
    border-radius: 24px;
}

.CTA h1 {
    font-family: 'zeniq';
    color: var(--branco);
    font-size: 3.5rem;
    margin-top: 0;
}

.CTA a {
    font-family: 'zeniq';
    color: var(--cinzaescuro);
    padding: 1% 2% 1% 2%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--branco);
}

.section3 {
    width: 80% !important;
    margin-top: 5%;
    margin-left: 10%;
}

.section3_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    text-decoration: none;
    background-color: #005293;
    border-radius: 12px;
    height: 20rem;
    text-align: center;
    font-size: 8rem;
    font-family: 'zeniq';
    color: var(--branco);
}


.section3_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    text-decoration: none;
    background-color: #E60012;
    border-radius: 12px;
    height: 20rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'zeniq';
    color: var(--branco);
}


.section3_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #520847;
    border-radius: 12px;
    height: 20rem;
    text-align: center;
    font-size: 8rem;
    font-family: 'zeniq';
    color: var(--branco);

}

.section4 {
    width: 80% !important;
    margin-top: 5%;
    margin-left: 10%;
}

.produtos_home_page {
    background-color: var(--cinzaclaro);
    border-radius: 12px;
    width: 90%;
    padding-bottom: 5%;

}

.produtos_home_page img {
    width: 60%;
    padding: 10% 0 0 20%;
}

.produtos_home_page h3{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'zeniq';
    color: var(--branco);
}

.produtos_home_page p{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'zeniq';
    color: var(--branco);
}

.botao_comprar{
    cursor: pointer;
    font-family: 'zeniq';
    padding: 2%;
    border-radius: 6px;
    font-size: 1.3rem;
    text-align: center;
    width: 50%;
    background-color: var(--azul);
    margin-left: 25%;
}
.botao_comprar a{
    text-decoration: none;
    color: black;
}

.section5{
    width: 80% !important;
    margin-top: 5%;
    margin-left: 10%;
    background-color: var(--cinzaclaro);
    border-radius: 12px;
    padding-bottom: 2%;
}
.mapa h1{
    margin-left: 10%;
    font-size: 2.5rem;
    font-family: 'zeniq';
    color: var(--branco);
}
.mapa iframe{
    border-radius: 12px;
    margin-left: 12%;
}
.form h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'zeniq';
    color: var(--branco);
}
.form label{
    margin-left: 20%;
    font-size: 2rem;
    font-family: 'zeniq';
    color: var(--branco);
}

.input_text{
    border: none;
    margin-left: 20%;
    padding: 1% 5%;
    border-radius: 12px;
}
.input_text:focus{
    outline: none;
}

.submit_botton{
    cursor: pointer;
    margin-left: 20%;
    border-radius: 24px;
    padding: 1%;
    font-family: 'zeniq';
    font-size: 2.0rem;
    border: none;
    background-color: var(--azul);
    color: var(--branco);
}

footer{
    margin-top: 2%;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: solid;
    border-color: var(--branco);
    background-color: var(--azul);
    
}
.footer_logo{
padding: 10% 0 0 10%;
}
.footer_logo img{
    border-radius: 12px;
    width: 12%;
}

.footer_social{
    padding-top: 15%;
    text-align: center;
}
.footer_social a{
    margin: 0 2% 0 2%;
    border-radius: 50px;
    padding: 2%;
    background-color: var(--cinzaescuro);
    font-size: 1.5rem;
    color: var(--branco);
}
.footer_submit label{
    margin-left: 20%;
    color: var(--branco);
    font-size: 1.5rem;
}
.footer_submit h1{
    color: var(--branco);
    text-align: center;
}

.submit_botton_footer{
    cursor: pointer;
    margin-left: 20%;
    border-radius: 24px;
    padding: 1%;
    font-family: 'zeniq';
    font-size: 1rem;
    border: none;
    background-color: var(--cinzaescuro);
    color: var(--branco);
}

.categorias{
    padding-top: 8%;
    margin-bottom: 2%;
}
.categorias_option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    text-decoration: none;
    background-color: #005293;
    border-radius: 12px;
    height: 20rem;
    text-align: center;
    font-size: 8rem;
    font-family: 'zeniq';
    color: var(--branco);
}
.categorias_option_nintendo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    text-decoration: none;
    background-color: #005293;
    border-radius: 12px;
    height: 20rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'zeniq';
    color: var(--branco);
}